<nav class="navbar navbar-expand-md navbar-dark bg-dark py-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand py-0" href="#">
	<%= image_tag("j-logo-1.png", alt: "Logo", width: "30", height: "30") %>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <!-- If not signed in, show these navbar options -->
	  <li class="nav-item">
		<a class="nav-link" href="Pages/Signin.html">Sign In</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="Pages/Register.html">Register</a>
	  </li>
	  <!-- If signed in, only show these navbar options -->
	  <li class="nav-item">
		<a class="nav-link" href="Pages/Profile.html">My Profile</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="#">Sign Out</a>
	  </li>
	</ul>
	<ul class="navbar-nav ml-auto">
	  <!-- If not signed in, show this navbar option -->
	  <li class="nav-item">
		<a class="nav-link" href="#">Secret Santa</a>
	  </li>
	  <li class="nav-item">
		<!--<a class="nav-link" href="#">Secret Santa</a>-->
		<%= link_to "Articles", articles_path, :class => 'nav-link' + current_class?(articles_path) %>
	  </li>
	  <!-- If signed in, show this navbar dropdown menu -->
	  <!--
	  <li class="nav-item dropdown">
		<a class="nav-link drowdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secret Santa</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item active" href="#">Start Page</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="Pages/CreateSecretSanta.html">Create Event</a>
		  <a class="dropdown-item" href="Pages/ManageEvents.html">Manage Events</a>
		</div>
	  </li>
	  -->
	  <li class="nav-item disabled">
		<a class="nav-link disabled" href="#">Paraphernalia</a>
	  </li>
    </ul>
  </div>
</nav>