<div class="container-fluid">
  <div class="row">
  	<div class="col-md-1 col-lg-2 col-xl-3">
	</div>
	<div class="col-md-10 col-lg-8 col-xl-6">
	  <h1 class="late mt-2">Hello Rails!</h1>
	  <p>
		<%= link_to 'My Blog', {controller: 'articles'}, :class => "btn btn-primary" %>
	  </p>
	</div>
	<div class="col-md-1 col-lg-2 col-xl-3">
	</div>
  </div>
</div>