<% if object.errors.any? %>
  <div id="error_explanation" class="mb-2">
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2 class="late">
        This form contains <%= pluralize(object.errors.count, "error") %>.
      </h2>
      <ul class="list-group">
        <% object.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger">
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>