<div class="container-fluid">
  <div class="row">
  	<div class="col-md-1 col-lg-2 col-xl-3">
	</div>
	<div class="col-md-10 col-lg-8 col-xl-6">
	  <h1 class="late mt-2">Add/Remove Guest Rules</h1>
	  <%= render 'rule_form' %>
	</div>
	<div class="col-md-1 col-lg-2 col-xl-3">
	</div>
  </div>
</div>

<script>
  $( function() {
    $( "#ruleList" ).sortable({
      connectWith: ".connectedSortable",
      start: function(event, ui) {
        var rule_count = $("#ruleList li").length - 1;
        ui.item.data('rule_count', rule_count);
      },
      update: function(event, ui) {
        var rule_count = ui.item.data('rule_count');
        var new_rule_count = $("#ruleList li").length;
        if(rule_count !== new_rule_count){
          $("#guestList li #guest_save_rule").each(function( index ) {
            $(this).val("false");
          });
          $("#ruleList li #guest_save_rule").each(function( index ) {
            $(this).val("true");
          });
        }
      }
    }).disableSelection();
    $( "#guestList" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
</script>