<div class="container-fluid">
  <div class="row">
  	<div class="col-md-1 col-lg-2 col-xl-3">
	</div>
	<div class="col-md-10 col-lg-8 col-xl-6">
	  <h1 class="late mt-2">Add/Remove Guest Rules</h1>
	  <%= render 'rule_form' %>
	</div>
	<div class="col-md-1 col-lg-2 col-xl-3">
	</div>
  </div>
</div>

<script>
  $( function() {
    /*$( ".draggable" ).draggable({
      revert: true
    });*/
    $( "#ruleList" ).sortable({
      //revert: true,
      connectWith: ".connectedSortable",
      start: function(event, ui) {
        //var start_pos = ui.item.index();
        //ui.item.data('start_pos', start_pos);
        var rule_count = $("#ruleList li").length - 1;
        ui.item.data('rule_count', rule_count);
        var guest_count = $("#guestList li").length;
        ui.item.data('guest_count', guest_count);
      }
    }).disableSelection();
    $( "#guestList" ).sortable({
      //revert: true,
      connectWith: ".connectedSortable",
      start: function(event, ui) {
        //var start_pos = ui.item.index();
        //ui.item.data('start_pos', start_pos);
        var rule_count = $("#ruleList li").length;
        ui.item.data('rule_count', rule_count);
        var guest_count = $("#guestList li").length - 1;
        ui.item.data('guest_count', guest_count);
      }
    }).disableSelection();
    //$( "ul, li" ).disableSelection();
  } );
</script>